# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
*.egg

# Django
staticfiles/
media/
db.sqlite3

# Environment
.env

# IDEs
.vscode/
.idea/

# Docker
docker-compose.yml
docker-compose.override.yml
Dockerfile
README.md
DOCUMENTACION_FASE1.md
